body {
  background-color: #DDD6C0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
p {text-align: center;}
form {text-align: center;}

.container {
  position: relative
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 17px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #849EAB;
  color: white;
}

.table-wrapper
{
    border: 1px solid red;
    width: 50%;
    height: 350px;
    overflow: auto;
}

table
{
    border: 1px solid black;
    margin-right: 20px;
}

td
{
    width: 200px;
    height: 50px;
    background-color: #ccc;
}

tbody tr:nth-child(odd) {
  background-color: #008080;
}

tbody tr:nth-child(even) {
  background-color: #1e90ff;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #a0522d;
}

caption {
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
