<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bitcoin Blockchain statistics</title>
  <meta name="description" content="PBLV 2021">
  <meta name="author" content="Artiom,Daniel,Marten">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
 <body>
   <div class="topnav">
    <a class="active" href="/index">Home</a>
    <a href="/track">Bitcoin Wallet Tracing</a>
    <a href="/stats">Bitcoin Blockchain Statistics</a>
   </div>

   <h1> PBLV 2021 </h1>
   <img src="{{ url_for('static',filename='images/meme.png') }}" alt="Paris" class="center">
   <div style="position: relative">
       <p style="position: fixed; bottom: 0; width:100%; text-align: center">
         Projektteilnehmer: Artiom Blinovas,Daniel, Marten
       </p>
   </div>
 </body>
</html>
