<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bitcoin Blockchain statistics</title>
  <meta name="description" content="PBLV 2021">
  <meta name="author" content="Artiom,Daniel,Marten">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stats.css') }}">
</head>
 <body>
   <div class="topnav">
    <a href="/index">Home</a>
    <a href="/track">Bitcoin Wallet Tracing</a>
    <a class="active" href="/stats">Bitcoin Blockchain Statistics</a>
   </div>

   <h1>Hello, {{ test1.value }}!</h1>
 </body>
</html>
