<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bitcoin Blockchain statistics</title>
  <meta name="description" content="PBLV 2021">
  <meta name="author" content="Artiom,Daniel,Marten">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/track.css') }}">
</head>
 <body>
   <div class="topnav">
    <a href="/index">Home</a>
    <a class="active" href="/track">Bitcoin Wallet Tracing</a>
    <a href="/stats">Bitcoin Blockchain Statistics</a>
  </div>

  <h1>Hello, {{ test1.value }}!</h1>
  <p>Try to trace btc wallet to an exchange</p>
  <form align="center" method="POST">
    <input name="text" name="enter bitcoin wallet address">
    <input type="submit" value="trace">
  </form>

 </body>
</html>
